.navigation_container {
    background-color: var(--nav-color);
    color: white;
}

.nav-link {
    color: var(--font-color) !important;
}

.navbar-brand {
    color: var(--font-color) !important;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.links a:hover{
    background-color: var(--nav-color-hover);
}